﻿@{
    ViewBag.Title = "Race Day";
}

<label id="dataLoading" class="text-center">Loading...</label>

<div id="content" class="container" style="width: 70%">
    
</div>


@section Scripts
{
    <script src="@Url.Content("~/Scripts/react/react.min.js")"></script>
    <script src="@Url.Content("~/Scripts/react/react-dom.min.js")"></script>
    <script src="@Url.Content("~/Scripts/home/Home.jsx")"></script>
}